@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;

}

.burger-icon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size:2rem;
    color: grey;
    z-index: 3;
    transition: color 0.3s ease-in-out;

}
.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover{
    color: whitesmoke;
}

.sidebar{
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    
}

.burger-icon:hover + .sidebar,.sidebar:hover{
    left: 0;
    box-shadow: 0 0 30px 5px whitesmoke;
}

.sidebar a {
    cursor: pointer;
font-size: 1.5rem;
display: block;
text-decoration: none;
color: whitesmoke;
margin: 1rem 0;
opacity: 0.5;
 transition: opacity 0.70s ease-in-out;
 transform: 0,70s ease-in-out;
 
}

.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0 0 10px white);
   
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout  */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out all;
}

.show {
    left: 0;
}
/*all divs inside pages, are treated as full width grids*/

.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1{
    font-weight:300;
    font-size:3rem;
}

#page1 {
    grid-template-rows: 1fr 3fr;
}

#page1 .top{
    background-color: #F4742B;
    color: whitesmoke;

}

#page1 .bottom{
    background-image: url(./assets/582078131_1903080727286416_2895861900720007584_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.scroll{
    min-height: 100%;
    overflow: scroll;
    padding: 20rem;
    gap: 2rem;
}

.box{
    max-width: 30vw;
    height: 100rem;
    grid-template-rows: 1fr 8fr;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1rem;
    padding: 2rem;
    
}
.box .top{
    background-color:black ;
    color: white;
    border-radius: 1rem;
}
.box .bottom{
    color: white;
}

#page2{
    overflow-y: scroll;
    background-color: #F4742B;
    

}
.parallax{
    min-height:100vh;
    background-attachment: fixed;
    background-size: cover;
}
.background1{
    background-image: url(./assets/582078131_1903080727286416_2895861900720007584_n.jpg);
}

#page3 {
     background-color: black;
     grid-template-columns: 1fr 3fr;
     grid-template-rows: 1fr 1fr ;
}

#videoButton{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(100,100,100, 0.9);
    color: white;
    border: 1px solid lightgray;
    z-index: 1000;
    transition: 0.3s ease-in-out all;
    cursor: pointer;

}

#videoButton:hover{
    background-color: white;
    color: black;
}
#page3 .right .bottom video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}


.bild{
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    object-position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#page5{
    display: grid; 
    grid-template-rows: 1fr 1fr;
    height: 100vh;
}
#page5 .top{
    background-color: lightyellow;
}

#page5 .bottom {
    position:relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
}

#page5 .bottom video {
  position: absolute;
  inset:0;  
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;           
  display: block;
  z-index: 0;
  pointer-events: auto;         
}

#page5 .bottom #videoButton {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding:0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    background-color: rgba(100,100,100, 0.9);
    color: white;
    border: 1px solid lightgray;
    z-index: 1000;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
    pointer-events: auto; 

}

#page5 .bottom #videoButton:hover{
    background-color: white;
    color: black;
}



