@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body,
* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-wrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;

}

.burger-icon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size:2rem;
    color: grey;
    z-index: 3;
    transition: color 0.3s ease-in-out;

}
.menu-wrapper:has(.sidebar:hover) .burger-icon, .burger-icon:hover{
    color: whitesmoke;
}

.sidebar{
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: black;
    color: white;
    padding: 4rem 1rem;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    
}

.burger-icon:hover + .sidebar,.sidebar:hover{
    left: 0;
    box-shadow: 0 0 30px 5px yellow;
}

.sidebar a {
    cursor: pointer;
font-size: 1.5rem;
display: block;
text-decoration: none;
color: whitesmoke;
margin: 1rem 0;
opacity: 0.5;
 transition: opacity 0.70s ease-in-out;
 transform: 0,70s ease-in-out;
 
}

.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.5rem);
    filter: drop-shadow(0 0 10px white);
   
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout  */
    display: grid;
    place-items: center;
    /* position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 1s ease-in-out all;
}

.show {
    left: 0;
}
/*all divs inside pages, are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1{
    font-weight:300;
    font-size:3rem;
}

#page1 {
    grid-template-rows: 1fr 3fr;
}

#page1 .top{
    background-color: #062663;
    color: whitesmoke;

}

#page1 .bottom{
    background-color: black;
    color: whitesmoke;
}

#page2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


/* Videoen */
#page2 .lefttop video {
  width: 100%;
  height: 100%;
  object-fit: cover;           
  display: block;
  position: relative;
  z-index: 2;                  
  pointer-events: auto;        
  cursor: pointer;
}


#page2 .lefttop .video-tekst {
  position: absolute;
  color: whitesmoke;
  pointer-events: none;       
  z-index: 3;                  
}

#page2 .righttop{
    background-image: url(./assets/ny\ wh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    background-position: center;
}

#page2 .leftbottom{
    background-image: url(./assets/ny\ tr.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    background-position: center;

}

#page2 .rightbottom{
    background-image: url(./assets/ny\ ow.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-position: center;
}

#page3 {
     background-color: black;
}

#page3 .testtabel{

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 700px;
    td, th /* dette gælder for alle felter */
    {
        font-size: 15px;
        border: 3px solid #062663;
        padding: 8px;
        text-align: center;
        color: whitesmoke;
    }
    th /* det her er ekstra specielt for th */
    {
        font-size: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #062663;
        color: whitesmoke;
    }
}

#page3 .testtabel a {
    color: rgb(241, 241, 184); ;        
}

#page3 .testtabel a:hover {
    color: yellow;         
}

#page4{
      grid-template-columns: 2fr 3fr;
}



#page4 .right{
    background-image: url(./assets/ny\ silas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    background-position: center;

}

#page4 .left{
    background-color: black;
    color: whitesmoke;
}

